.group-input{
  position: relative;
}

.user-icon{
  position: absolute;
  top: 39px;
  left: 8px;
}
.pass-icon-hide{
  position: absolute;
  top: 39px;
  left: 320px;
  cursor: pointer;
}
/* .container-input{
  display: flex;
  width: 100%;
  border: 2px solid #0db8de;
}
.container-input:focus{
  border: 2px solid #1a2226;
  color: #0db8de;
}
.container-input input{
  border: none;
} */