html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #222d32 !important;
  height: 100%;
  color: #0db8de;
  font-weight: 700;
}

.link-form {
  float: right;
  font-size: 12px;
}


.global-container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0db8de;
}
form{
  /* padding-top: 10px; */
  font-size: 14px;
  /* margin-top: 30px; */
}

.login-form{
  width: 380px;
  min-height: 450px;
  margin: 20px;
  background: #1a2226 !important;
  border-radius: 10px !important;
}

input[type='email']{
  margin-top: 10px;
}
input[type='password']{
  margin-top: 10px;
}
input[type='text']{
  margin-top: 10px;
}

input[type='email'],
input[type='password'],
input[type='text'],
input[type='number']{
  background: #1a2226;
  border: 2px solid #0db8de;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #0db8de;
}

.input-login{
  padding: 0 27px;
}

input[type='email']:focus,
input[type='password']:focus,
input[type='text']:focus,
input[type='number']:focus{
  background: #1a2226;
  border: 2px solid #1a2226;
  color: #0db8de;
}

.card-title{
  font-weight: 700;
  padding-top: 10px;
}

.btn{
  background: #0db8de !important;
  font-size: 14px;
  transform: translateY(10px);
  border-radius: 10px !important;
  outline: none !important;
}

.btn-primary {
  border-color: transparent !important;
}

.btn-primary:focus {
  box-shadow: none;
}

.signup{
  text-align: center;
  padding-top: 25px;
}

.btn-click-here{
  text-decoration: none;
  color: #fa4fab;
  transition: all 400ms;
}
.btn-click-here:hover{
  color: #ca5e98;
}

.pointer{
  cursor: pointer;
}

nav{
  user-select: none; /*el texto no se puede seleccionar*/
}

/* .error-input {
  background-color: rgb(218, 45, 45) !important;
  border: 2px solid #000 !important;
} */

.color-errors{
  color: rgb(218, 45, 45);
}

.nav-icon{
  display: none;
}

.btn-register-login{
  border: 2px solid #212529;
}




@media screen and (min-width: 992px){
  .btn-register-login{
    background: transparent !important;
    padding: 6px 20px;
    border: 2px solid #0db8de;
    border-radius: 5px !important;
    color: #fff !important;
    transition: all 500ms;
    /* width: 25%; */
  }
  .btn-register-login:hover{
    background: #0db8de !important;
    color: #fa4fab;
  } 
  .nav-icon{
    display: inline;
  }
}



.img-icono{
  width: 60px;
}

.borde{
  border: 2px solid #212529;
}

.active{
  color: #fa4fab !important;
}

.hover:hover{
  color: #fa4fab !important;
  transition: all 400ms;
}

/*iconos login*/






/******************/
